<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:macro name="sector_switches" params="">

		<link name="base_footprint"/>

		<joint name="sector_switch_joint" type="fixed">
			<parent link="base_footprint"/>
			<child link="sector_switch_link"/>
			<origin xyz="0 0 0.3" rpy="0 0 0"/>
		</joint>

		<link name="sector_switch_link">
			<collision>
				<origin xyz="0 0 0"	rpy="0 0 0"/>
				<geometry>
					<mesh filename="package://panel_description/meshes/collisions/sector_switch.stl" scale="${scale_XYZ} ${scale_XYZ} ${scale_XYZ}"/>
				</geometry>
			</collision>
			<visual>
				<origin xyz="0 0 0"	rpy="0 0 0"/>
				<geometry>
					<mesh filename="package://panel_description/meshes/visual/sector_switch.stl" scale="${scale_XYZ} ${scale_XYZ} ${scale_XYZ}"/>
				</geometry>
			</visual>
			<inertial>
				<origin xyz="0 0 0"	rpy="0 0 0"/>
				<mass value="${switchboxMass}"/>
				<xacro:box_inertia m="${switchboxMass}" x="${switchboxWidth}" y="${switchboxLength}" z="${switchboxHeight}" />
			</inertial>
		</link>

		<!-- Join parts -->

		<xacro:switch parent_sector_link ="sector_switch_link"  child_link="switch_1_link" x="0.059" y="0.007" z= "0.034"/>
		<xacro:switch parent_sector_link ="sector_switch_link"  child_link="switch_2_link" x="0.059" y="0.007" z= "-0.036"/>
		<xacro:switch parent_sector_link ="sector_switch_link"  child_link="switch_3_link" x="0.059" y="0.007" z= "0.102"/>
		<xacro:switch parent_sector_link ="sector_switch_link"  child_link="switch_4_link" x="0.059" y="0.007" z= "-0.1053"/>
		<xacro:switch parent_sector_link ="sector_switch_link"  child_link="switch_5_link" x="0.019" y="0.007" z= "0.034"/>
		<xacro:switch parent_sector_link ="sector_switch_link"  child_link="switch_6_link" x="0.019" y="0.007" z= "-0.036"/>
		<xacro:switch parent_sector_link ="sector_switch_link"  child_link="switch_7_link" x="0.019" y="0.007" z= "0.102"/>
		<xacro:switch parent_sector_link ="sector_switch_link"  child_link="switch_8_link" x="0.019" y="0.007" z= "-0.1053"/>
		<xacro:switch parent_sector_link ="sector_switch_link"  child_link="switch_9_link" x="-0.021" y="0.007" z= "0.034"/>
		<xacro:switch parent_sector_link ="sector_switch_link"  child_link="switch_10_link" x="-0.021" y="0.007" z= "-0.036"/>
		<xacro:switch parent_sector_link ="sector_switch_link"  child_link="switch_11_link" x="-0.021" y="0.007" z= "0.102"/>
		<xacro:switch parent_sector_link ="sector_switch_link"  child_link="switch_12_link" x="-0.021" y="0.007" z= "-0.1053"/>

	</xacro:macro>
</robot>
